/* Insert your styles here */
header {
    font-size: 300%;
    font-weight: bold;
    text-align: middle;
    /*Code adapted from https://www.w3.org/Style/Examples/007/center.en.html*/
    display: flex;
    align-items: center;
    justify-content: center
  }
  
  header * {
    vertical-align: middle;
   
  }


nav {
    background-color: grey;
    list-style-type: none;
    text-align: center;

}

body {
    margin: 0;
    

}

main {
    background-image: url('../../media/cinema-21.jpg');
    min-height: 100%;

}



/*Classes*/


.title {
    position: relative;
}


/*IDs*/

#links li{
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 150%;
    vertical-align: middle;
    position: relative;  
    padding: 8px;
    background-color: #dddddd;
}

}

#logo {
    vertical-align: middle;
    width: 200px;
}

#welcome {
    margin: 0;
    font-family: 'Tangerine', serif;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 20px;
}