/* Insert your styles here */
header {
    /*Code adapted from https://www.w3.org/Style/Examples/007/center.en.html*/
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    position: relative;
    background-image: url('../../media/film-2.png');
	height: 200px;
    background-position: center;
	background-size: cover;
  }

  header * {
    vertical-align: middle;

  }

h2 {
    position: relative;
    text-align: center;


}


nav {
    background-color: grey;
    list-style-type: none;
    text-align: center;
    position: fixed;

}

body {
    margin: 0;
    height: 1000px;


}

main {
    background-image: url('../../media/curtain.png');
    height: 500px;
}

p {
    position: relative;
    left: 100px;
    width: 80%;
	font-family: 'Neuton', serif;
	color: white;
	font-size: 150%;
    text-align: center;
}

a {
    text-decoration: none;
}



/*Classes*/


.title {
   /* background-repeat: no-repeat;*/
    /*background-size: cover;*/
    font-size: 300%;
    font-weight: bold;
    text-align: middle;
}


/*IDs*/

#links li{
    display: inline-block;
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    font-size: 150%;
    vertical-align: middle;
    text-decoration: none;
    position: relative;
    padding: 8px;
    background-color: #dddddd;
}



#logo {
    vertical-align: middle;
    width: 200px;
}

#welcome {
    margin: 0;
    font-family: 'Tangerine', serif;
    display: inline-block;
    text-align: center;
    position: relative;
    bottom: 20px;
}

#stormy {
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 200%;
}
